.App {
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.btn {
    border: 0.5px solid black;
    border-radius: 25px;
}

 .App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 400px;
}

.App-title {
  font-size: 1.5em;
  background-color: lightgreen;
  border-radius: 10em;
}

.App-intro {
  /* font-size: large;
  margin: 1em; */
  text-align: center;
  background-color: blue;
  width: 100%;
  position: absolute;
}

.t {
    background-color: silver;
}

.p {
    background-color: yellow;
}

.s {
    background-color: rgb(21, 255, 0);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card {
  border: 0.1em solid black;
  margin: 0.15em;
  /* display: inline-block; */
  padding: 0.15em;

}

/* .button {
  display: inline-block;
} */