body {
    background-image: url("../asset/studioBackground.jpg");
    background-size: 125px 75px;
}

.App-header {
    background-color: rgb(77, 172, 250);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 65%;
    margin-top: 0.5em;
    padding: 1em;
    border-radius: 15px;
    font-size: 30px;
    box-shadow: rgba(0, 0, 0, 0.514) 7px 7px 7px;
}

#instructions-container {
    text-align: center;
}

.instructions {
    background-color: rgb(145, 205, 255);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding: 0.5em;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.514) 7px 7px 7px;
}

.App-title {
    font-size: 1.5em;
    background-color: lightgreen;
    border-radius: 10em;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 315px;
}

#sort-buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#button-container {
    text-align: center
}

button {
    background-color: rgb(209, 234, 255);
    display: inline-block;
    margin-left: 0.1em;
    margin-right: 0.1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border: 0.5px solid black;
    box-shadow: rgba(0, 0, 0, 0.514) 7px 7px 7px;
    border-radius: 15px;
    font-size: 20px;
}

img {
    max-height: 400px;
    max-width: 315px;
}

.title, .description, .director, .producer, .date, .score {
    background-color: rgb(246, 250, 252);
    padding: 0.3em;
    text-align: center;
    font-size: 18px;
}

