body {
    background-image: url("../asset/studioBackground.jpg");
    background-size: 200px 150px;
}

h2.App-header {
    background-color: rgb(116, 190, 250);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 65%;
    margin-top: 0.5em;
    padding: 1em;
    border-radius: 15px;
    font-size: 30px;
    box-shadow: rgba(0, 0, 0, 0.514) 7px 7px 7px;
}

.App-title {
    font-size: 1.5em;
    background-color: lightgreen;
    border-radius: 10em;
}

.App-intro {
    text-align: center;
}

.t {
    background-color: silver;
}

.p {
    background-color: yellow;
}

.s {
    background-color: rgb(21, 255, 0);
}

.card {
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}
